
<div class="card">
    <div class="card-body"  >
      <br>
      <h1 class="titulo"> Lista de Producto </h1>
  
  <br>
  <div class="col-sm-4">
    <button type="button" class="btn btn-sm btn-primary" (click)="vaciarcarrito()" ><i class="fa fa-plus" aria-hidden="true" ></i> vaciar Carrito</button>
  
  </div>
  <br>
      <table class="table">
  
  
      <thead>
        <tr>
  
          <th >id</th>
          <th >Producto</th>
      
          <th >Precio</th>
          <th >Cantidad</th>
          <th >Total</th>
          <th>Opciones</th>
        </tr>
  
      
      </thead>
      <tbody>
        <tr *ngFor=" let list of carrito" >
          <td>{{list.id}}</td>
          <td>{{list.cantidad}}</td>
          <td>{{list.price}}</td>
          <td>{{list.cantidad}}</td>
          <!-- <td>{{list.cantidad*list.price}}</td> -->

           
          
          <td style="width: 10%;">

          </td>
        
         
        <td style="width: 10%;">
         
          <button (click)="eliminarproducto(list.id)" class="btn btn-danger btn-sm float-end">Eliminar</button>
          
        </td>
        
    
        </tr>
        
       
      </tbody>
      
    </table>
    <button (click)="GuaradaFactura()" class="btn btn-secondary btn-sm  float-end" >Realizar venta</button>
    </div>
  </div>
    
